<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.order.mapper.OrderInstanceMapper">


    <select id="selectOrderInstancePage" parameterType="org.dows.order.form.OrderInstanceTenantForm" resultType="org.dows.order.vo.OrderInstanceTenantVo">
        SELECT
            o.order_no,
            o.account_id,
            o.`status`,
            o.store_id,
            o.table_no,
            o.peoples,
            o.pay_channel,
            o.amount,
            o.dt as 'orderDate'
        FROM
            order_instance o
        <where>
            <if test="param.orderNo != null and param.orderNo != ''">
                and o.order_no = #{param.orderNo}
            </if>
<!--            <if test="param.storeId != null and param.storeId != ''">-->
<!--                and o.store_id = #{param.storeId}-->
<!--            </if>-->
<!--            <if test="param.orderId != null and param.orderId != ''">-->
<!--                and o.order_id = #{param.orderId}-->
<!--            </if>-->
        </where>
    </select>
    <select id="selectOrderInstanceRePage" parameterType="org.dows.order.form.OrderInstanceTenantForm" resultType="org.dows.order.vo.OrderInstanceTenantOpVo">
        SELECT
        i.spu_name as 'food',
        o.order_no,
        o.account_id,
        o.`status`,
        o.store_id,
        o.table_no,
        o.peoples,
        o.pay_channel,
        o.amount,
        o.dt as 'orderDate'
        FROM
        order_item i
        left join order_instance o on o.id = i.order_id
        <where>
            <if test="param.orderNo != null and param.orderNo != ''">
                and o.orderNo = #{param.orderNo}
            </if>
            <!--            <if test="param.storeId != null and param.storeId != ''">-->
            <!--                and o.store_id = #{param.storeId}-->
            <!--            </if>-->
            <!--            <if test="param.orderId != null and param.orderId != ''">-->
            <!--                and o.order_id = #{param.orderId}-->
            <!--            </if>-->
            <if test="param.orderOpType != null">
                and i.flag = #{param.orderOpType}
            </if>
        </where>

    </select>
</mapper>
